{% extends "dashboard.html" %}
{% block editProfile %}

  <style>
    

    .form-container {
      background-color: rgba(128, 0, 128, 0.1); /* Purple transparent background */
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 800px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      margin-bottom: 5px;
      display: block;
    }

    .form-group input,
    .form-group button {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }

    .form-group button {
      background-color: #6f42c1;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>

  <div class="form-container">
    <h2 style="text-align: center; margin-bottom: 20px;">Change Password</h2>
    <form action="{% url "changepasswordPage" %}" method="post">
      {% csrf_token %}


      {% if messages %}
        
      {% for message in messages  %}

      {% if message.tags == 'error' %}
      <p>{{message}}</p>
      
      {% endif %}
      
      {% endfor %}

      {% endif %}

      <div class="form-group">
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
      </div>

      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>

      <div class="form-group">
        <button type="submit">Change Password</button>
      </div>
    </form>
  </div>


{% endblock editProfile %}
