{% extends "dashboard.html" %}

{% block profile %}

  <style>
   

    .card-container {
      text-align: center;
    }

    .card {
      width: 800px;
      background-color: rgba(128, 0, 128, 0.1); /* Purple transparent background */
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      display: block;
      margin: 0 auto 15px;
      
    }

    .card img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
    
      
    }

    .card-title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .attribute {
      margin-bottom: 10px;
    }

    .attribute span {
      font-weight: bold;
    }
    .edit-button {
        background-color: #6f42c1;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
  </style>


  <div class="card-container">
    <div class="card">
      {% if user.user_type == "recruiter" %}

      <img src="{{request.user.recruiterProfile.profile_picture.url}}" alt="Profile Picture">

      {% elif user.user_type == "jobseeker" %}

      <img src="{{request.user.jobseekerProfile.profile_picture.url}}" alt="Profile Picture">
      
      {% endif %}


      {% if messages %}
        
      {% for message in messages  %}

      {% if message.tags == 'success' %}
      <p>{{message}}</p>
      
      {% endif %}
      
      {% endfor %}
      
      {% endif %}


      <div class="card-title">User Information</div>
      <div class="attribute"><span>User Type:</span> {{request.user.user_type}}</div>
      <div class="attribute"><span>User Name:</span> {{request.user.Display_name}}</div>
      <div class="attribute"><span>Skills:</span> HTML, CSS, JavaScript, Python</div>
      <a href="{% url "editprofilePage" %}"><button class="edit-button">Edit Profile</button></a>
      <a href="{% url "changepasswordPage" %}"><button class="edit-button">Change Password</button></a>
    </div>
  </div>



{% endblock profile %}