{% extends "dashboard.html" %}

{% block section %}
<section class="search"> 
    <h2>Find Your Dream Job</h2> 
    <form action="#" method="get"> 
        <input type="text" name="keywords" 
            placeholder="Keywords"> 
        <input type="text" name="location" 
            placeholder="Location"> 
        <input type="text" name="company" 
            placeholder="Company"> 
        <button type="submit"> 
            Search 
        </button> 
    </form> 
</section> 

<section class="job-listings"> 
    <h2>Latest Job Listings</h2> 
    <ul> 
        {% for i in job  %}
        <li> 
            <h3>{{i.job_title}}</h3> 
            <p>Company: {{i.company_name}}</p> 
            <p>Location: {{i.location}}</p> 
            <p>Description: {{i.description}}</p> 
            <p>Create Time: {{i.create_at}}</p> 
            <p>Creator By: {{i.job_creator}}</p> 

            {% if user.user_type == 'jobseeker' %}
                <a href="{% url "applyPage" i.id %}">Apply Now</a> 
            {% endif %}

            {% if user.user_type == 'recruiter' %}
                <a href="{% url "editPage" i.id %}">Edit</a> 
                <a href="{% url "deletePage" i.id %}">Delete</a> 
            {% endif %}
        </li> 
        {% endfor %}
    </ul> 
</section> {% endblock section %}





