{% extends "dashboard.html" %}

{% block addjob %}
    <style>
        
        .container {
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        .btn-submit {
            background-color: #6f42c1; /* Purple color */
            color: white;
        }

        .btn-submit:hover {
            background-color: #492774; /* Darker purple on hover */
        }
    </style>
</head>
<body>

<div class="container">
    <form action="{% url "updatePage" %}" method="POST">
        {% csrf_token %}
        {% for i in job %}
        <div class="form-group">
            <label for="jobTitle">Job ID</label>
            <input type="text" value={{i.id}} class="form-control" name="jobid" id="jobTitle" placeholder="Enter job title">
        </div>
        <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input type="text" value={{i.job_title}} class="form-control" name="jobTitle" id="jobTitle" placeholder="Enter job title">
        </div>

        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" value={{i.company_name}} class="form-control" name="companyName" id="companyName" placeholder="Enter company name">
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" value={{i.location}} class="form-control" name="location" id="location" placeholder="Enter location">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"  name="description" id="description" rows="4" placeholder="Enter job description">{{i.description}}</textarea>
        </div>

        <button type="submit" class="btn btn-submit">Update Job</button>
        {% endfor %}
    </form>
</div>

{% endblock addjob %}

